<%- include('weather') -%>
<%- include('partials/header') -%>
<h1 class="text-5xl font-bold">Reflections</h1>
<p>Welcome to the reflections feed! Thank you for volunteering your time a City Space. Start or join a thread to reflect on your most memorable events, things you've learned, and how a City Space impacted you. 
  What are your hopes for the future and how can you apply what you have learned in your life?</p>
  <div class="mainDiv">
    <!--title-->
      <div class="title">
        <a href="#">
             <i class="fa fa-pencil" aria-hidden="true"></i>
        Reflect</a>
        </div>
    <div id="body">
      <!--img and textarea-->
      <div class="imtcontainer">

        <div class="textarea">
          <form action="/post/createPost" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
                <input type="text" class="form-control" id="title" name="title" placeholder="City Space">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="caption" name="caption" placeholder="Start Reflection"></textarea>
            </div>
             <div class="mb-3">
              <input type="file" class="form-control" id="imageUpload" name="file" placeholder="Image ">
            </div> 
            <div class="icons">
              <div class="photos">
               <a href="#">
               Photo/Video <i class="fa fa-picture-o" aria-hidden="true"></i></a>
             </div>
             <button type="submit" class="btn btn-success" value="Upload">Submit</button> 
             <div class="title">
              <a href="#">
         </a>
              </div>
            </div>  
      </div>
    </div>
    </div>
    </div> 
    </div>
      </div>  
    </div>
  </div>
</div>
<% for(var i=0; i<posts.length; i++) {%>
<div class="post">
  <div class="info">
    <div class="user">
      <p class="username"><%=posts[i].userName %></p>
    </div>
  </div>
  <ul>
  <li class="col-6 justify-content-between mt-5">
    <a href="/post/<%= posts[i]._id%>">
  </li>
  </ul>
  <img src="<%= posts[i].image%>" class="post-img" alt="View Full Post" /></a>
  <div class="post-content">
    <div class="reaction-wrapper">
          <a href="/post/<%= posts[i]._id%>"><button class="btn">Join Reflection Thread</button></a>
        </div>
    </div>
    <%if(posts[i].likes = 0)  {%>
    <p class="likes">Be The first to Like!</p>
     <%}else {%>
      <p class="likes"><%=posts[i].likes %> like</p>
      <% } %>
    <p class="description"><span><%=posts[i].user %> City Space: <%=posts[i].title %></soan></p>
    <p class="description"><span> Reflection: <%=posts[i].caption %></span> </p>
    <p class="post-time"><%=posts[i].createdAt %></p>
  </div>
</div>   
<% } %>
<script src="js/main.js"></script>
<%- include('partials/footer') -%>
