<%- include('partials/header') -%>
<div class="left">
  <h2  class="text-2xl font-bold">Welcome, <%=user.userName %>!</h2>
  <p>Email Address: <%= user.email %></p>
  <p><%= user.watching.length %> Saved Events</p>
  <div class="date">
    <input type="date"></input><br>
  </div>
  <div class="city">
  </div>
  <div class="tempreture">
  </div>
</div>
      <div class="col-6">
        <h1 class="text-5xl font-bold"> <%=user.watching.length %> Saved Events   </h1>     
        <% user.watching.forEach(data => { %>
          <div class="card w-96  ">
            <div class="card-body">
              <form
              class="col-1"
              method="GET"
            >
              <button class="btn btn-error fa-solid fa-trash" type="submit"></button>
            </form>
              <h2 class="card-title"> <em><%= %></h2>
                  <p class="card-title"> <em><%= user.watching.data %></p>
                  <div class="card-actions justify-end">
                  </div>
            </div>
          </div>
        <% }) %>
        <ul class="row list-unstyled">
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn" href="/events">Add Event<i class="fa-solid fa-plus"></i> </a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>